.DivTable {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.TableEL {
    border: 1px solid black;
}
thead td  {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
@media (max-width:576px) {
    .TableEL{
        width: 360px;
    }
}
@media (min-width:576px) {
    .TableEL{
        width: 450px;
    } 
}
@media (min-width:768px){
    .TableEL {
        font-size: 25px;
        width: 650px;
    }
}
@media (min-width :992px) {
    .TableEL {
        font-size: 25px;
        width: 900px;
    }
}
@media (min-width:1400px) {
    .TableEL {
        font-size: 28px;
        width: 1200px;
    }
}