/* reset */
body {
    padding: 0px;
    margin: 0;
}
.ResetLink {
    text-decoration: none;
}
/* add gradiante */
body {
    background:#EBDBA2 ;
    height : 100vh;  
    opacity: 81.1%;
}
/* Header */

.ContainerShaHome {
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 1rem;
    width: 87px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ContainerShaHome img {
    cursor: pointer;
}
.NavDivContainer {
    display: flex;  
    align-items: center;
    margin-left: 0.5rem;
}
.NavDivContainer span {
    font-size: 25px ;
    margin-left: 1rem;
}
.InputPesqHeader {
    width: 301px;
    height: 50px;
    color: #EBDBA2;
    opacity: 51%;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: black;
}
/* resets React Bootstrap */
.notFoundTitle {
    padding-top: 3rem;
    font-size: 2rem ;
    color: red;
}

.offcanvas, .offcanvas-end, .show{
    background-repeat: no-repeat;
    background-image: linear-gradient(192deg, rgba(239,202,71,1) 0%, 
    rgba(85,194,18,1) 22%, rgba(8,255,224,1) 81%); 
    height: 100vh;  
}
.justify-content-end .flex-grow-1 .pe-3 .navbar-nav{
    text-decoration: none;
}
.nav-link{
    color: black;
}
#basic-navbar-nav{
    display: flex;
    justify-content: space-around;
}
.navbar-toggler ,.collapsed{
    border: none;
}
.HeaderTeste{
    overflow: hidden;   
    position: fixed;
    top: 0;
    width: 100%
}




